venv/
*.pyc
.DS_Store
version/

projTwoOs/db.sqlite3
projTwoOs/static/snapshots/*

projTwoOs/authApp/migrations/*
!projTwoOs/authApp/migrations/__init__.py

projTwoOs/dashboard_app/migrations/*
!projTwoOs/dashboard_app/migrations/__init__.py