<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/auth/logout'>Logout</a>
    </nav>
    <form action='/dashboard/webcam'>
        <input type='submit' value='Try on..'>
    </form>
    <form>
        <input type='submit' value='Find Store'>
    </form>

    <form action='/dashboard/wishlist'>
        <h2>Name</h2>
        <h2>Wish list:</h2>
        <ul>
            <li>Glasses</li>
            <li>Glasses</li>
            <li>Glasses</li>
            <li>Glasses</li>
        </ul>
        <input type='submit' value='Go To Wish list'>
    </form>
</body>
</html>
