<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #video {
            border: 1px solid black;
            box-shadow: 2px 2px 3px black;
            width:320px;
            height:240px;
          }
          
          #photo {
            border: 1px solid black;
            box-shadow: 2px 2px 3px black;
            width:320px;
            height:240px;
          }
          
          #canvas {
            display:none;
          }
          
          .camera {
            width: 340px;
            display:inline-block;
          }
          
          .output {
            width: 340px;
            display:inline-block;
          }
          
          #startbutton {
            display:block;
            position:relative;
            margin-left:auto;
            margin-right:auto;
            bottom:32px;
            background-color: blue;
            border: 1px solid rgba(255, 255, 255, 0.7);
            box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
            font-size: 14px;
            font-family: "Lucida Grande", "Arial", sans-serif;
            color: rgba(255, 255, 255, 1.0);
          }
        </style>
</head>
<body>
    <nav>
        <a href='/dashboard'>Home</a>
        <a href='/auth/logout'>Logout</a>
    </nav>
    <h2>Wide Selection of glasses here</h2>
    <!-- <div class='camera'>
        <video id='video'>Video Stream not available.</video>
        <button id='startbutton'>Take photo</button>
    </div> -->

    <form class='camera' action='/dashboard/process/' method='post'>
        <video id='video'>Video Stream not available.</video>
        <input name='image_info' id='image' type='text' value='yo'>
        <input id='startbutton' type='submit' value="Take Picture">
    </form>


    <canvas id='canvas'></canvas>
    <div class='output'>
        <img id='photo' alt='The screen capture will appear in this box.'>
    </div>

    <a href='/dashboard/wishlist'>Go To Wish list</a>
    <a href='/dashboard/webcam'>Add to Wish list</a>

    <a id='link'>Image</a>
    {% csrf_token %}
    <script>
        (function() {
        // width and height of captured photo will be set here. The height will be
        // calculated based on the aspect ratio of input stream
        var width = 320;    // Scale width of photo
        var height = 0;     // Computed based on input stream

        // Stream variable indicates whether or not we're currently streaming.
        // Start at false, requires permission.

        var streaming = false;

        // HTML elements that will be set by startup()

        var video = null;
        var canvas = null;
        var photo = null;
        var startbutton = null;


        // When page finished loading, run function to request
        // access from user's webcam
        function startup() {
            // Grab all references of major elements listed above
            video = document.getElementById('video');
            canvas = document.getElementById('canvas');
            photo = document.getElementById('photo');
            startbutton = document.getElementById('startbutton');
            
            // Get media stream without audio
            // Returns stream object as input if theres a compatible camera
            // Otherwise throws error
            navigator.mediaDevices.getUserMedia({ video: true, audio: false })
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occured! " + err);
                });
                
            // Listens for if the webcam can play based on user's decision
            // Only works for first time (Answers yes or no)
            video.addEventListener('canplay', function(ev){
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth/width);
                video.setAttribute('width', width);
                video.setAttribute('height', height);
                canvas.setAttribute('width', width);
                canvas.setAttribute('height', height);
                streaming = true;
            }
            }, false);
            
            // Captures the photo everytime the start button is clicked
            startbutton.addEventListener('click', function(ev){
                takepicture();
                ev.preventDefault();
            }, false);
            // Clears photo box
            clearphoto();
    }


    // Creating an image, then converting it into a format usable by the
    function clearphoto() {
        var context = canvas.getContext('2d');
        context.fillStyle = "#AAA";
        context.fillRect(0, 0, canvas.width, canvas.height);

        var data = canvas.toDataURL('image/png');
        photo.setAttribute('src', data);
    }
  

    // Captures photo by obtaining the current content of the video
    // Draws it to the canvas
    // Converts the drawing to PNG format
    // Display in captured framebox

    function takepicture() {
        var context = canvas.getContext('2d');
        if (width && height) {
            canvas.width = width;
            canvas.height = height;
            context.drawImage(video, 0, 0, width, height);
            var data = canvas.toDataURL('image/png');
            // var image = data.replace("image/png", "image/octet-stream");
            // window.location.href=image
            var link = document.getElementById('link');
            link.setAttribute('download', "self-portrait.png");
            link.setAttribute('href', canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));
            photo.setAttribute('src', data);

            var image = document.getElementById('image');
            // image.setAttribute('value',canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"));



            // function dataURItoBlob(dataURI) {
            //     // convert base64/URLEncoded data component to raw binary data held in a string
            //     var byteString;
            //     if (dataURI.split(',')[0].indexOf('base64') >= 0)
            //         byteString = atob(dataURI.split(',')[1]);
            //     else
            //         byteString = unescape(dataURI.split(',')[1]);

            //     // separate out the mime component
            //     var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            //     // write the bytes of the string to a typed array
            //     var ia = new Uint8Array(byteString.length);
            //     for (var i = 0; i < byteString.length; i++) {
            //         ia[i] = byteString.charCodeAt(i);
            //     }
            //    return new Blob([ia], {type:mimeString});
            // }
            // blob = dataURItoBlob(data)
            // console.log(blob)


            fd = new FormData();
            fd.append('data', data);

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(this.status == 200) {
                    console.log("Received")
                }
            }
            xhr.open("post", '/dashboard/process/');
            var token = getCookie("csrftoken");
            console.log(token);
            xhr.setRequestHeader('X-CSRFToken', token);
            xhr.send(fd);
            
            function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }   
        
        } else {
            clearphoto();
        }
   
    }

    // Set up our event listener to run the startup process
    // once loading is complete.
    window.addEventListener('load', startup, false);
    })();
    </script>
</body>
</html>