<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href='/dashboard'>Home</a>
    <h2>{{request.user.name}}'s Wish list</h2>
    <h2>Pic of glasses</h2>
    {% for g in glasses %}
        {% for r in route %}
            {% if r.glasses_id == g.id %}
                <img src=/snap/{{r.file_upload}}>
                <p>{{g.name}}</p>
                <p>Cost</p>
                <p>Store/Location</p>
                {% endif %}
        {% endfor %}
    {% endfor %}

</body>
</html>